<script src="/javascripts/vendor/react.js"></script>
<script src="/javascripts/vendor/JSXTransformer.js"></script>

<script type="text/jsx">
  /** @jsx React.DOM */
  React.renderComponent(
    <h1>Hello, world!</h1>,
    document.getElementById('example')
  );
</script>
