*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
node_modules/
tmp
.DS_Store

# guard files
.sass-cache/*

# YARD artifacts
.yardoc
_yardoc
doc/
