
$base-value: 16;

/* BOURBON AND NEAT VARIABLES */

// $visual-grid: true;

/* Media Queries */
// Design is mobile first

$tablet: min-width 700px;
$desktop: min-width 850px;

/* TYPOGRAPHY */

$sans-serif-font: Helvetica,Arial,sans-serif;
$serif-font: Georgia,sans-serif;
$flourish-font: sans-serif;

$base-font-family: $serif-font;
$header-font-family: $sans-serif-font;

$base-font-size: em(16, $base-value);
$base-line-height: em(16, $base-value);

/* COLORS */


$black:         #000;
$gray-darker:   #222;
$gray-dark:     #333;
$gray:          #555;
$gray-light:    #999;
$gray-lighter:  #eee;
$white:         #fff;

// Customize to your hearts content!

$dark:          $black;
$accent:        #663399;
$highlight:     $white;
$attention:     red;
$bright:        blue;
