<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10 no-js"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<%= erb :'partials/header' %>
</head>

<body class="playground">
   <section id="content" class="<%= @wrapperClass %>">
    <%= yield %>
  </section>

<%= erb :'partials/footer' %>
</body>
</html>
