* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* BOURBON AND NEAT VARIABLES */
/* Media Queries */
/* TYPOGRAPHY */
/* COLORS */
body {
  background-color: #663399;
  color: #333333;
  font-family: Georgia, sans-serif;
  font-size: 1em;
  line-height: 1em;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif; }

a,
a:active,
a:link {
  color: white; }

a:visited,
a:hover {
  color: #e6e6e6; }

.welcome {
  text-align: center;
  color: white; }
